.user-container {
  margin-top: 17px;
  width: 30px;
  height: 30px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../../public/images/usuario.png");
  overflow: hidden;
}
