.user-container {
  display: flex;
  color: var(--primary-white);
  font-weight: lighter;
  width: 90px;
  height: 60px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../../public/images/usuario.png");
  overflow: hidden;
}
p {
  margin-top: 14px;
  font-size: small;
}
